* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 40px;
    font-size: 2em;
}

.caja {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.caja1 {
    background: rgb(110, 92, 239);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    color: black;
    width: 130px;
}

.caja1 h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.contar {
    font-size: 2em;
    font-weight: bold;
}

.acciones {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.boton {
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: rgb(192, 172, 212)
}

.cajaformulario {
    text-align: center;
    padding: 30px;
    border-radius: 15px;
}

.cajaformulario h3 {
    margin-bottom: 20px;
    color: black;
}

.cajaformulario input {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 12px;
    width: 170px;
}

.cajaformulario {
    flex-direction: column;
}


