<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loteria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1> Lotería Mexicana - Nivel 1 </h1>
        <div class="container">
            {% for fila in grid %}
            <div class="fila">
                {% for caja in fila %}
                    <div class="color-box {{ caja.color }}">
                        {{ caja.texto }}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <!-- Botón para ir al nivel 2 -->
        <form action="{{ url_for('nivel2') }}" method="get">
            <button type="submit">Ir a Nivel 2</button>
        </form>
</html>
