<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Tabla Paises</title>
</head>
<body>
    <h1> Tabla de Paises </h1>
    <table>
        <thead>
            <tr>
                <th>País</th>
                <th>Capital</th>
            </tr>
        </thead>
        <tbody>
            {% for pais in paises %}
            <tr>
                <td>{{ pais.pais }}</td>
                <td>{{ pais.capital }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
    
</body>
</html>