body {
    font-family: Arial, sans-serif;
    background-color: #fefaf2;
    color: #333;
    text-align: center;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 2px solid #787575;
    padding: 20px;
    text-align: left;
}
.h1{
    text-align: center;
}